.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
h1 {
    align-self: center;
}

.table {
    width: 25%;
}
.row {
    min-height: 50px;
    width: 100%;
    min-width: 100%;
    border: 1px solid black;
}