.div,
.div * {
  box-sizing: border-box;
}
.div {
  background: #0e0e0e;
  height: 1080px;
  width: 1920px;
  position: relative;
  overflow: hidden;
}
/*.topRect {*/
/*  background: #0e0e0e;*/
/*  width: 1920px;*/
/*  height: 65px;*/
/*  position: absolute;*/
/*  left: 0px;*/
/*  top: 0px;*/
/*}*/
.testName {
  color: #fcfcfc;
  text-align: left;
  font-family: "TtInterfaces-Medium", sans-serif;
  font-size: 36px;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 236px);
  top: calc(50% - 410px);
  width: 520px;
  height: 45px;
}
.task {
  color: #fcfcfc;
  text-align: center;
  font-family: "TtInterfaces-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 429px);
  top: calc(50% - 344px);
  width: 858px;
}
.distance {
  color: #fcfcfc;
  text-align: left;
  font-family: "TtInterfaces-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 59px); /* 59 */
  top: calc(10% + 208px);
  width: 118px;
}
.lineUnderTestName {
  background: #fcfcfc;
  width: 1822px;
  height: 1px;
  position: absolute;
  left: calc(4% - 36px);
  top: calc(50% - 367px);
}
.div2 {
  color: #ffffff;
  text-align: left;
  font-family: "TtInterfaces-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-decoration: underline;
  position: absolute;
  left: calc(50% - -611px);
  top: 28px;
  width: 69px;
  height: 24px;
}
.div3 {
  color: #ffffff;
  text-align: left;
  font-family: "TtInterfaces-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-decoration: underline;
  position: absolute;
  left: calc(50% - -858px);
  top: 28px;
  width: 45px;
  height: 24px;
}
.startButton {
  border-style: solid;
  border-color: #fcfcfc;
  border-width: 1px;
  width: 650px;
  height: 50px;
  text-align: center;
  line-height: 45px;
  color: white;
  font-family: "TtInterfaces-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 325px);
  top: calc(50% + 48px);
  cursor: pointer;
}
.startButton:hover {
  background-color: #f0f0f0;
}
.startButton:active {
  background-color: #c0c0c0;
}
/*.div4 {*/
/*  color: #fcfcfc;*/
/*  text-align: left;*/
/*  font-family: "TtInterfaces-Medium", sans-serif;*/
/*  font-size: 20px;*/
/*  font-weight: 500;*/
/*  position: absolute;*/
/*  left: calc(50% - 174px);*/
/*  top: 778px;*/
/*  width: 348px;*/
/*  height: 31px;*/
/*!*}*! от текста, который больше не используется*/
.testDuration {
  color: #fcfcfc;
  text-align: left;
  font-family: "TtInterfaces-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 105px);
  top: calc(60% - 165px);
  width: 231px;
  height: 24px;
}
.min {
  color: #fcfcfc;
  text-align: left;
  font-family: "TtInterfaces-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 95px);
  top: calc(60% - 125px);
  width: 32px;
  height: 24px;
}
.sec {
  color: #fcfcfc;
  text-align: left;
  font-family: "TtInterfaces-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  left: calc(50% + 22px);
  top: calc(60% - 125px);
  width: 32px;
  height: 24px;
}
.minutesRectangle {
  color: white;
  border-style: solid;
  border-color: #c0c0c0; /* #c0c0c0 */
  border-width: 2px;
  width: 44px;
  height: 27px;
  padding: 0;
  position: absolute;
  left: calc(94% - 907px);
  top: calc(50% + -18px);
}
.secondsRectangle {
  color: white;
  border-style: solid;
  border-color: #c0c0c0;
  border-width: 2px;
  width: 44px;
  height: 27px;
  padding: 0;
  position: absolute;
  left: calc(50% + 50px);
  top: calc(50% + -18px);
}
.mainRect {
  border-style: solid;
  border-color: #fcfcfc;
  border-width: 1px;
  width: 1361px;
  height: 23px;
  position: absolute;
  left: calc(0% - -280px);
  top: calc(50% - 129px);
}
.mainRectCenter{
  border-style: solid;
  border-color: #fcfcfc;
  border-width: 1px;
  width: 2px;
  height: 23px;
  position: absolute;
  left: calc(0% - -960px);
  top: calc(50% - 129px);
}
.redEllipse {
  background: #f80000;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  position: absolute;
  left: calc(50% - 39px);
  top: calc(50% - 9px); /* - 9px */
}
/*.medianReactionTime {*/
/*  color: #fcfcfc;*/
/*  text-align: left;*/
/*  font-family: "TtInterfaces-Medium", sans-serif;*/
/*  font-size: 15px;*/
/*  font-weight: 500;*/
/*  position: absolute;*/
/*  left: calc(50% - 325px);*/
/*  top: 870px;*/
/*  width: 245px;*/
/*  height: 24px;*/
/*}*/
.timeLeft {
  color: #fcfcfc;
  text-align: center;
  font-family: "TtInterfaces-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 65px);
  top: calc(50% - -117px);
  width: 140px;
  height: 24px;
}
.vector {
  width: 153px;
  height: 23px;
  position: absolute;
  left: 40px;
  top: 21px;
  overflow: visible;
}
