.wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    text-decoration: underline;
}

.selectProfession {
    width: 50%;
    margin: 0 auto;
    display: block;
}

input {
    width: 1000px;
    height: 50px;
    padding: 0;
    margin: 0;
    color: black;
}

p {
    margin: 0;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button {
    padding: 5px 10px;
    background-color: #292c37;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
}

.error {
    color: red;
}
