.div,
.div * {
  box-sizing: border-box;
}
.div {
  background: #ffffff; /* #0e0e0e */
  height: 1080px;
  width: 1920px;
  position: relative;
  overflow: hidden;
}
.div2 {
  color: #0e0e0e;
  text-align: left;
  font-family: "TtInterfaces-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-decoration: underline;
  position: absolute;
  left: calc(50% - -859px);
  top: 23px;
  width: 45px;
  height: 24px;
}
/*.experts {*/
/*  color: #ffffff;*/
/*  text-align: left;*/
/*  font-family: "TtInterfaces-Medium", sans-serif;*/
/*  font-size: 15px;*/
/*  font-weight: 500;*/
/*  text-decoration: underline;*/
/*  position: absolute;*/
/*  left: calc(50% - -611px);*/
/*  top: 28px;*/
/*  width: 69px;*/
/*  height: 24px;*/
/*}*/
.testName {
  color: #0e0e0e;
  text-align: left;
  font-family: "TtInterfaces-Medium", sans-serif;
  font-size: 36px;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 312px);
  top: calc(50% - 449px);
  width: 624px;
  height: 45px;
}
.testDescription {
  color: #0e0e0e;
  text-align: left;
  font-family: "TtInterfaces-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 460px);
  top: calc(50% - 364px);
  width: 971px;
}
.distance {
  color: #0e0e0e;
  text-align: center;
  font-family: "TtInterfaces-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 58px);
  top: calc(50% - 243px);
  width: 118px;
}
/*.rectangle33 {*/
/*  background: #fcfcfc;*/
/*  width: 1824px;*/
/*  height: 1px;*/
/*  position: absolute;*/
/*  left: 40px;*/
/*  top: 214px;*/
/*}*/ /* хуйня непонятная */
.durationOfTest {
  color: #0e0e0e;
  text-align: center;  /* left Был */
  font-family: "TtInterfaces-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 130px);
  top: calc(50% - 15px);
  width: 251px; /* +40 */
  height: 24px;
}
.min {
  color: #0e0e0e;
  text-align: left;
  font-family: "TtInterfaces-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 99px);
  top: calc(50% - -55px);
  width: 32px;
  height: 24px;
}

.sec {
  color: #0e0e0e;
  text-align: left;
  font-family: "TtInterfaces-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  left: calc(50% - -68px);
  top: calc(50% - -55px);
  width: 32px;
  height: 24px;
}
.minutesRectangle {
  color: black;
  border-style: solid;
  border-color: #0e0e0e;
  background: white;
  border-width: 1px;
  width: 50px;
  height: 30px;
  position: absolute;
  left: 895px; /* +50 */
  top: calc(50% - -52px);
  padding: 0;
  /*height: 30px;*/
  /*width: 50px;*/
}
.secondsRectangle {
  color: black;
  border-style: solid;
  border-color: #0e0e0e;
  background: white;
  border-width: 1px;
  width: 50px;
  height: 30px;
  position: absolute;
  left: 1056px; /* +50 */
  top: calc(50% - -52px);
  padding: 0;

}
.centralRectangle {
  border-style: solid;
  border-color: #0e0e0e;
  border-width: 2px;
  width: 1361px;
  height: 23px;
  position: absolute;
  left: calc(0% + 279px);
  top: calc(50% - 105px);
}
/*.redEllipse {*/
/*  background: #f80000;*/
/*  border-radius: 50%;*/
/*  width: 80px;*/
/*  height: 80px;*/
/*  position: absolute;*/
/*  left: calc(50% - 39px);*/
/*  top: calc(50% - 26px);*/
/*}*/
/*.greenEllipse {*/
/*  background: #59fe20;*/
/*  border-radius: 50%;*/
/*  width: 80px;*/
/*  height: 80px;*/
/*  position: absolute;*/
/*  left: calc(50% - -100px);*/
/*  top: calc(50% - 26px);*/
/*}*/
/*.logo {*/
/*  width: 153px;*/
/*  height: 23px;*/
/*  position: absolute;*/
/*  left: 39px;*/
/*  top: 33px;*/
/*  overflow: visible;*/
/*}*/
.redEllipse {
  background-color: #f80000;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  position: absolute;
  left: calc(50% - 39px);
  top: calc(50% - 16px);
}

.greenEllipse {
  background-color: #59fe20;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  position: absolute;
  left: calc(50% - 39px);
  top: calc(50% - 16px);
}
.timeLasts {
  color: #0e0e0e;
  text-align: left;
  font-family: "TtInterfaces-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 75px);
  top: calc(50% + 193px);
  width: 150px;
  height: 24px;
}
.startButton {
  border-style: solid;
  border-color: #0e0e0e;
  border-width: 2px;
  width: 650px;
  height: 50px;
  text-align: center;
  line-height: 45px;
  color: black;
  font-family: "TtInterfaces-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 325px);
  top: calc(50% + 118px);
  cursor: pointer;
}
.startButton:hover {
  background-color: #f0f0f0;
}
.startButton:active {
  background-color: #c0c0c0;
}
.lineUnderTestName {
  background: #0e0e0e;
  width: 1822px;
  height: 2px;
  position: absolute;
  left: calc(4% - 36px);
  top: calc(50% - 397px);
}
.vector {
  width: 153px;
  height: 23px;
  position: absolute;
  left: 40px;
  top: 21px;
  overflow: visible;
}