.button {
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    text-decoration: underline;

    width: 100%;
    min-width: 600px;

    height: 53px;

    background-color: #0E0E0E;
    color: white;

    cursor: pointer;
}