

.header {
    display: flex;
    padding-top: 20px;
    min-height: 3vh;
    max-height: 8vh;
    align-items: center;
    justify-self: flex-start;
    align-self: flex-start;
    justify-content: space-between;
    width: 100%;
    padding-right: 2em;
    padding-left: 2em;
    margin-top: 0.5em;
    padding-bottom: 1em;
}

.header__navbar {
    display: flex;
    gap: 7em;
    max-width: 100%;
}

.header__nav__link {
    display: inline-block;
    position: relative;
    text-decoration: 0;
    font-weight: 600;
    border-bottom: 2px solid black;
}

@keyframes slideme {
    0% {
        left: -30px;
        margin-left: 0px;
    }
    30% {
        left: 110%;
        margin-left: 80px;
    }
    100% {
        left: 110%;
        margin-left: 80px;
    }
}

.logo {
    margin: 0;
}
.logo {
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    /*padding: 12px 48px;*/
    color: #fff;
    height: 100%;
    padding-top: 0.1em;
    background: linear-gradient(to right, black 0, #fff 10%, black 20%);
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 5s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    text-decoration: none;
    white-space: nowrap;
}
@keyframes shine {
    0% {
        background-position: 0;
    }
    /*60% {*/
    /*    background-position: 180px;*/
    /*}*/
    100% {
        background-position: 180px;
    }
}

