.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-top: 3em;
}

.title {
    margin-bottom: 1em;
}

.experts {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px #0E0E0E solid;
}

.expert {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 7vh;
    /*border-bottom: 1px #0E0E0E solid;*/
    border-top: 1px #0E0E0E solid;
    /*padding-top: 0.5em;*/
    /*padding-bottom: 0.5em;*/
}

.expert__child {
    display: flex;
    align-items: center;
    max-width: 10em;
    gap: 1em;
    margin-top: 0.3em;
}

.expert__child > p {
    color: black;
}

.expert__child__name {
    position: absolute;
    left: 120px;
}

.expert__child__avatar {
    max-width: 50px;
    border-radius: 50%;
}

.pink {
    border: 2px solid hotpink;
}

.blue {
    border: 2px solid deepskyblue;
}