* {
  margin: 0;
  padding: 0;
  object-fit: contain;
  box-sizing: border-box;

  color: #0E0E0E;
  font-size: 14px;
  line-height: 24px;
  font-weight: lighter;
  font-family: TT Interfaces, Open Sans,sans-serif;
  text-decoration: 0;
  /*transition: all 0.5s ease;*/
}

body {
  min-height: 100dvh;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
  min-height: 92dvh;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
}

u {
  font-size: inherit;
}

#root {
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  flex-direction: column;
  height: 100%;
  min-height: 100dvh;
  width: 100%;


}

h1 {
  font-size: 36px;
  padding-bottom: 5px;
  border-bottom: 3px black solid;
  text-decoration: 0;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 24px;
}


.error {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  padding: 1em;
  font-weight: bold;
  border: 1px solid red;
  margin-bottom: 0.5em
}
