.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.helper {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    gap: 1em;
    margin-bottom: 1em;
}

h1 {
    display: flex;
    border-bottom: none;
}

.underline {
    font-size: inherit;
    padding-bottom: 0.1em;
    border-bottom: 2px solid black;
}

hr {
    margin-top: 1em;
    width: 100%;
    min-height: 3px;
    background-color: black;
}

.key {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border: black 1px solid;
}

.stats {
    display: flex;
    margin-top: 3em;
    justify-content: space-between;
    width: 650px;
}